#pragma code_page(65001)

#include <windows.h>
#include <commctrl.h>
#include "resource.h"

IDD_SETTINGS DIALOGEX 0, 0, 456, 320
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_APPWINDOW | WS_EX_CONTROLPARENT
CAPTION "偏好设置"
FONT 9, "Segoe UI"
BEGIN
    CONTROL "", IDC_SETTINGS_TABS, "SysTabControl32", WS_CHILD | WS_VISIBLE | WS_TABSTOP | TCS_TABS, 0, 0, 456, 320
END

IDD_PAGE_GENERAL DIALOGEX 0, 0, 432, 276
STYLE WS_CHILD | DS_CONTROL | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 9, "Segoe UI"
BEGIN
    CONTROL "登录时启动", IDC_G_LAUNCH, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 40, 5, 300, 10
    CONTROL "自动检查更新", IDC_G_UPDATES, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 40, 15, 300, 10
    PUSHBUTTON "检查更新", IDC_G_CHECK_NOW, 40, 35, 80, 16

    CONTROL "", IDC_STATIC, "Static", SS_ETCHEDHORZ, 8, 56, 416, 1
    LTEXT "打开：", IDC_STATIC, 8, 66, 30, 14, SS_LEFT
    CONTROL "", IDC_G_OPEN_HOTKEY, "msctls_hotkey32", WS_TABSTOP | WS_VISIBLE, 40, 65, 120, 14, WS_EX_CLIENTEDGE
    LTEXT "置顶：", IDC_STATIC, 8, 84, 30, 14, SS_LEFT
    CONTROL "", IDC_G_PIN_HOTKEY, "msctls_hotkey32", WS_TABSTOP | WS_VISIBLE, 40, 83, 120, 14, WS_EX_CLIENTEDGE
    LTEXT "删除：", IDC_STATIC, 8, 102, 30, 14, SS_LEFT
    CONTROL "", IDC_G_DELETE_HOTKEY, "msctls_hotkey32", WS_TABSTOP | WS_VISIBLE, 40, 101, 120, 14, WS_EX_CLIENTEDGE
    LTEXT "预览：", IDC_STATIC, 8, 120, 30, 14, SS_LEFT
    CONTROL "", IDC_G_PREVIEW_HOTKEY, "msctls_hotkey32", WS_TABSTOP | WS_VISIBLE, 40, 119, 120, 14, WS_EX_CLIENTEDGE

    CONTROL "", IDC_STATIC, "Static", SS_ETCHEDHORZ, 8, 138, 416, 1
    LTEXT "搜索：", IDC_STATIC, 8, 148, 30, 14, SS_LEFT
    COMBOBOX IDC_G_SEARCH_MODE, 40, 147, 220, 92, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL "", IDC_STATIC, "Static", SS_ETCHEDHORZ, 8, 168, 416, 1
    LTEXT "行为：", IDC_STATIC, 8, 178, 30, 14, SS_LEFT
    CONTROL "自动粘贴", IDC_G_PASTE_BY_DEFAULT, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 40, 177, 300, 10
    CONTROL "纯文本粘贴", IDC_G_REMOVE_FORMATTING, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 40, 187, 320, 10
    LTEXT "", IDC_G_BEHAVIOR_HINT, 40, 207, 384, 36, SS_LEFT | SS_NOPREFIX

    CONTROL "", IDC_STATIC, "Static", SS_ETCHEDHORZ, 8, 247, 416, 1
    PUSHBUTTON "通知和声音", IDC_G_NOTIFICATIONS, 40, 257, 150, 16
END

IDD_PAGE_APPEARANCE DIALOGEX 0, 0, 432, 276
STYLE WS_CHILD | DS_CONTROL | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 9, "Segoe UI"
BEGIN
    LTEXT "弹窗位置：", IDC_STATIC, 8, 5, 52, 14, SS_LEFT
    COMBOBOX IDC_A_POPUP_POSITION, 62, 4, 112, 92, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "屏幕：", IDC_STATIC, 180, 5, 30, 14, SS_LEFT
    COMBOBOX IDC_A_POPUP_SCREEN, 212, 4, 94, 92, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "重置位置", IDC_A_RESET_POSITION, 312, 3, 66, 16
    LTEXT "置顶到：", IDC_STATIC, 8, 23, 52, 14, SS_LEFT
    COMBOBOX IDC_A_PIN_TO, 62, 22, 112, 92, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "图片高度：", IDC_STATIC, 8, 41, 52, 14, SS_LEFT
    EDITTEXT IDC_A_IMAGE_HEIGHT, 62, 40, 54, 14, ES_NUMBER | ES_AUTOHSCROLL | WS_TABSTOP | WS_BORDER, WS_EX_CLIENTEDGE
    CONTROL "自动打开预览", IDC_A_OPEN_PREVIEW, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 59, 220, 10
    LTEXT "预览延迟：", IDC_STATIC, 8, 77, 52, 14, SS_LEFT
    EDITTEXT IDC_A_PREVIEW_DELAY, 62, 76, 70, 14, ES_NUMBER | ES_AUTOHSCROLL | WS_TABSTOP | WS_BORDER, WS_EX_CLIENTEDGE
    LTEXT "毫秒（200–100000）", IDC_STATIC, 138, 77, 130, 14, SS_LEFT
    LTEXT "高亮匹配：", IDC_STATIC, 8, 95, 52, 14, SS_LEFT
    COMBOBOX IDC_A_HIGHLIGHT, 62, 94, 112, 92, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL "", IDC_STATIC, "Static", SS_ETCHEDHORZ, 8, 113, 416, 1
    CONTROL "显示特殊符号", IDC_A_SHOW_SPECIAL, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 121, 330, 10
    CONTROL "显示菜单栏图标", IDC_A_SHOW_STATUS, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 135, 180, 10
    COMBOBOX IDC_A_MENU_ICON, 192, 134, 112, 92, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL "在菜单栏图标旁显示剪贴板内容", IDC_A_SHOW_RECENT, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 149, 320, 10
    CONTROL "显示搜索框", IDC_A_SHOW_SEARCH, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 163, 180, 10
    COMBOBOX IDC_A_SEARCH_VISIBILITY, 192, 162, 112, 92, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL "在搜索框前显示应用名", IDC_A_SHOW_TITLE, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 177, 190, 10
    CONTROL "显示应用程序图标", IDC_A_SHOW_ICONS, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 187, 200, 10
    CONTROL "显示十六进制颜色色块", IDC_A_SHOW_SWATCH, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 197, 220, 10
    CONTROL "显示底部菜单", IDC_A_SHOW_FOOTER, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 207, 190, 10
END

IDD_PAGE_STORAGE DIALOGEX 0, 0, 432, 276
STYLE WS_CHILD | DS_CONTROL | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 9, "Segoe UI"
BEGIN
    LTEXT "保存：", IDC_STATIC, 8, 5, 30, 14, SS_LEFT
    CONTROL "文件", IDC_S_SAVE_FILES, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 40, 4, 250, 10
    CONTROL "图像", IDC_S_SAVE_IMAGES, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 40, 14, 250, 10
    CONTROL "文本", IDC_S_SAVE_TEXT, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 40, 24, 300, 10
    LTEXT "设置何种类型的内容会被保存。", IDC_STATIC, 40, 48, 384, 14, SS_LEFT | SS_NOPREFIX
    CONTROL "", IDC_STATIC, "Static", SS_ETCHEDHORZ, 8, 67, 416, 1
    LTEXT "数量：", IDC_STATIC, 8, 77, 30, 14, SS_LEFT
    EDITTEXT IDC_S_HISTORY_SIZE, 40, 76, 54, 14, ES_NUMBER | ES_AUTOHSCROLL | WS_TABSTOP | WS_BORDER, WS_EX_CLIENTEDGE
    LTEXT "当前大小：", IDC_STATIC, 8, 97, 52, 14, SS_LEFT
    LTEXT "", IDC_S_STORAGE_SIZE, 62, 97, 362, 14, SS_LEFT | SS_NOPREFIX
    LTEXT "排序方式：", IDC_STATIC, 8, 117, 52, 14, SS_LEFT
    COMBOBOX IDC_S_SORT_BY, 62, 116, 160, 92, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDD_PAGE_IGNORE DIALOGEX 0, 0, 432, 276
STYLE WS_CHILD | DS_CONTROL | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 9, "Segoe UI"
BEGIN
    CONTROL "", IDC_IGNORE_TABS, "SysTabControl32", WS_CHILD | WS_VISIBLE | WS_TABSTOP | TCS_TABS, 8, 5, 416, 264
END

IDD_IGNORE_APPLICATIONS DIALOGEX 0, 0, 408, 212
STYLE WS_CHILD | DS_CONTROL | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 9, "Segoe UI"
BEGIN
    CONTROL "", IDC_I_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | LVS_EDITLABELS | WS_TABSTOP | WS_BORDER, 8, 8, 392, 132, WS_EX_CLIENTEDGE
    PUSHBUTTON "+", IDC_I_ADD, 8, 146, 28, 18
    PUSHBUTTON "−", IDC_I_REMOVE, 40, 146, 28, 18
    CONTROL "忽略列表之外的所有应用程序", IDC_I_WHITELIST, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 78, 148, 300, 10
    LTEXT "", IDC_I_DESCRIPTION, 8, 174, 392, 36, SS_LEFT | SS_NOPREFIX
END

IDD_IGNORE_FORMATS DIALOGEX 0, 0, 408, 212
STYLE WS_CHILD | DS_CONTROL | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 9, "Segoe UI"
BEGIN
    CONTROL "", IDC_I_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | WS_TABSTOP | WS_BORDER, 8, 8, 392, 132, WS_EX_CLIENTEDGE
    PUSHBUTTON "+", IDC_I_ADD, 8, 146, 28, 18
    PUSHBUTTON "−", IDC_I_REMOVE, 40, 146, 28, 18
    PUSHBUTTON "重置", IDC_I_RESET, 342, 146, 50, 18
    LTEXT "", IDC_I_DESCRIPTION, 8, 174, 392, 36, SS_LEFT | SS_NOPREFIX
END

IDD_IGNORE_REGEXPS DIALOGEX 0, 0, 408, 212
STYLE WS_CHILD | DS_CONTROL | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 9, "Segoe UI"
BEGIN
    CONTROL "", IDC_I_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | WS_TABSTOP | WS_BORDER, 8, 8, 392, 132, WS_EX_CLIENTEDGE
    PUSHBUTTON "+", IDC_I_ADD, 8, 146, 28, 18
    PUSHBUTTON "−", IDC_I_REMOVE, 40, 146, 28, 18
    LTEXT "", IDC_I_DESCRIPTION, 8, 174, 392, 36, SS_LEFT | SS_NOPREFIX
END

IDD_PAGE_PINS DIALOGEX 0, 0, 432, 276
STYLE WS_CHILD | DS_CONTROL | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 9, "Segoe UI"
BEGIN
    CONTROL "", IDC_P_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_TABSTOP | WS_BORDER, 8, 5, 416, 240, WS_EX_CLIENTEDGE
    LTEXT "双击项目进行编辑，或按 Delete 键删除。", IDC_P_LIST_HINT, 8, 250, 416, 14, SS_LEFT | SS_NOPREFIX
END

IDD_PAGE_ADVANCED DIALOGEX 0, 0, 432, 276
STYLE WS_CHILD | DS_CONTROL | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 9, "Segoe UI"
BEGIN
    CONTROL "暂停", IDC_X_IGNORE_EVENTS, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 5, 300, 10
    LTEXT "暂停记录新的剪贴板项目。\r\n如果您想在复制敏感数据时通过程序调用来禁用本程序。", IDC_STATIC, 8, 23, 416, 28, SS_LEFT | SS_NOPREFIX
    LTEXT "defaults write org.p0deje.Maccy ignoreEvents true\r\n# 执行上述命令后再进行复制，然后执行\r\ndefaults write org.p0deje.Maccy ignoreEvents false", IDC_STATIC, 8, 55, 416, 42, SS_LEFT | SS_NOPREFIX
    LTEXT "您也可以按下 ⌥ 并单击菜单图标。\r\n要仅忽略下一个副本，请单击 ⌥⇧。", IDC_STATIC, 8, 101, 416, 28, SS_LEFT | SS_NOPREFIX
    LTEXT "defaults write org.p0deje.Maccy ignoreOnlyNextEvent true\r\n# 执行上述命令后再进行复制，只对下一次复制有效", IDC_STATIC, 8, 133, 416, 28, SS_LEFT | SS_NOPREFIX
    LTEXT "", IDC_STATIC, 8, 165, 416, 1, SS_ETCHEDHORZ
    CONTROL "退出时清除历史记录", IDC_X_CLEAR_ON_QUIT, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 177, 230, 10
    CONTROL "同时清除系统剪贴板", IDC_X_CLEAR_CLIPBOARD, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 187, 230, 10
END

IDD_EDIT_PIN DIALOGEX 0, 0, 320, 200
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "编辑置顶项目"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "快捷键(&K)：", IDC_STATIC, 8, 10, 60, 14, SS_LEFT
    COMBOBOX IDC_EDIT_PIN_KEY, 72, 8, 240, 200, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "别名(&T)：", IDC_STATIC, 8, 32, 60, 14, SS_LEFT
    EDITTEXT IDC_EDIT_PIN_TITLE, 72, 30, 240, 14, ES_AUTOHSCROLL | WS_TABSTOP | WS_BORDER, WS_EX_CLIENTEDGE
    LTEXT "内容(&C)：", IDC_STATIC, 8, 54, 60, 14, SS_LEFT
    EDITTEXT IDC_EDIT_PIN_CONTENT, 72, 52, 240, 90, ES_MULTILINE | ES_AUTOVSCROLL | ES_WANTRETURN | WS_VSCROLL | WS_TABSTOP | WS_BORDER, WS_EX_CLIENTEDGE
    LTEXT "", IDC_P_CONTENT_HINT, 8, 148, 304, 20, SS_LEFT | SS_NOPREFIX
    DEFPUSHBUTTON "确定", IDOK, 152, 174, 75, 18
    PUSHBUTTON "取消", IDCANCEL, 237, 174, 75, 18
END

IDD_EDIT_IGNORE DIALOGEX 0, 0, 320, 120
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "编辑忽略项"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "值(&V)：", IDC_STATIC, 8, 10, 60, 14, SS_LEFT
    EDITTEXT IDC_EDIT_IGNORE_VALUE, 72, 8, 240, 14, ES_AUTOHSCROLL | WS_TABSTOP | WS_BORDER, WS_EX_CLIENTEDGE
    LTEXT "", IDC_I_DESCRIPTION, 8, 30, 304, 60, SS_LEFT | SS_NOPREFIX
    DEFPUSHBUTTON "确定", IDOK, 152, 94, 75, 18
    PUSHBUTTON "取消", IDCANCEL, 237, 94, 75, 18
END
