#pragma code_page(65001)

#include <windows.h>
#include <commctrl.h>
#include "resource.h"

IDD_SETTINGS DIALOGEX 0, 0, 456, 320
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_APPWINDOW | WS_EX_CONTROLPARENT
CAPTION "偏好设置"
FONT 9, "Segoe UI"
BEGIN
    CONTROL "", IDC_SETTINGS_TABS, "SysTabControl32", WS_CHILD | WS_VISIBLE | WS_TABSTOP | TCS_TABS, 8, 8, 440, 304
END

IDD_PAGE_GENERAL DIALOGEX 0, 0, 432, 276
STYLE WS_CHILD | DS_CONTROL | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 9, "Segoe UI"
BEGIN
    CONTROL "登录时启动", IDC_G_LAUNCH, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 5, 300, 14
    CONTROL "自动检查更新", IDC_G_UPDATES, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 21, 300, 14
    PUSHBUTTON "检查更新", IDC_G_CHECK_NOW, 8, 39, 80, 16

    CONTROL "", IDC_STATIC, "Static", SS_ETCHEDHORZ, 8, 60, 416, 1
    LTEXT "打开：", IDC_STATIC, 8, 70, 30, 14, SS_LEFT
    CONTROL "", IDC_G_OPEN_HOTKEY, "msctls_hotkey32", WS_TABSTOP | WS_VISIBLE, 30, 69, 120, 14, WS_EX_CLIENTEDGE
    LTEXT "置顶：", IDC_STATIC, 8, 88, 30, 14, SS_LEFT
    CONTROL "", IDC_G_PIN_HOTKEY, "msctls_hotkey32", WS_TABSTOP | WS_VISIBLE, 30, 87, 120, 14, WS_EX_CLIENTEDGE
    LTEXT "删除：", IDC_STATIC, 8, 106, 30, 14, SS_LEFT
    CONTROL "", IDC_G_DELETE_HOTKEY, "msctls_hotkey32", WS_TABSTOP | WS_VISIBLE, 30, 105, 120, 14, WS_EX_CLIENTEDGE
    LTEXT "预览：", IDC_STATIC, 8, 124, 30, 14, SS_LEFT
    CONTROL "", IDC_G_PREVIEW_HOTKEY, "msctls_hotkey32", WS_TABSTOP | WS_VISIBLE, 30, 123, 120, 14, WS_EX_CLIENTEDGE

    CONTROL "", IDC_STATIC, "Static", SS_ETCHEDHORZ, 8, 142, 416, 1
    LTEXT "搜索：", IDC_STATIC, 8, 152, 30, 14, SS_LEFT
    COMBOBOX IDC_G_SEARCH_MODE, 30, 151, 220, 92, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL "", IDC_STATIC, "Static", SS_ETCHEDHORZ, 8, 174, 416, 1
    LTEXT "行为：", IDC_STATIC, 8, 184, 30, 14, SS_LEFT
    CONTROL "自动粘贴", IDC_G_PASTE_BY_DEFAULT, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 30, 183, 300, 14
    CONTROL "纯文本粘贴", IDC_G_REMOVE_FORMATTING, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 30, 199, 320, 14
    LTEXT "", IDC_G_BEHAVIOR_HINT, 30, 217, 342, 36, SS_LEFT | SS_NOPREFIX
    PUSHBUTTON "通知和声音", IDC_G_NOTIFICATIONS, 30, 256, 150, 16
END

IDD_PAGE_APPEARANCE DIALOGEX 0, 0, 432, 276
STYLE WS_CHILD | DS_CONTROL | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 9, "Segoe UI"
BEGIN
    LTEXT "弹窗位置：", IDC_STATIC, 8, 5, 76, 14, SS_LEFT
    COMBOBOX IDC_A_POPUP_POSITION, 88, 4, 112, 92, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "屏幕：", IDC_STATIC, 206, 5, 40, 14, SS_LEFT
    COMBOBOX IDC_A_POPUP_SCREEN, 246, 4, 94, 92, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "重置位置", IDC_A_RESET_POSITION, 348, 3, 66, 16
    LTEXT "置顶到：", IDC_STATIC, 8, 23, 76, 14, SS_LEFT
    COMBOBOX IDC_A_PIN_TO, 88, 22, 112, 92, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "图片高度：", IDC_STATIC, 8, 41, 76, 14, SS_LEFT
    EDITTEXT IDC_A_IMAGE_HEIGHT, 88, 40, 54, 14, ES_NUMBER | ES_AUTOHSCROLL | WS_TABSTOP | WS_BORDER, WS_EX_CLIENTEDGE
    CONTROL "自动打开预览", IDC_A_OPEN_PREVIEW, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 59, 220, 14
    LTEXT "预览延迟：", IDC_STATIC, 8, 77, 76, 14, SS_LEFT
    EDITTEXT IDC_A_PREVIEW_DELAY, 88, 76, 70, 14, ES_NUMBER | ES_AUTOHSCROLL | WS_TABSTOP | WS_BORDER, WS_EX_CLIENTEDGE
    LTEXT "毫秒（200–100000）", IDC_STATIC, 164, 77, 130, 14, SS_LEFT
    LTEXT "高亮匹配：", IDC_STATIC, 8, 95, 76, 14, SS_LEFT
    COMBOBOX IDC_A_HIGHLIGHT, 88, 94, 112, 92, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL "", IDC_STATIC, "Static", SS_ETCHEDHORZ, 8, 113, 416, 1
    CONTROL "显示特殊符号", IDC_A_SHOW_SPECIAL, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 123, 330, 14
    CONTROL "显示菜单栏图标", IDC_A_SHOW_STATUS, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 139, 180, 14
    COMBOBOX IDC_A_MENU_ICON, 208, 138, 112, 92, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL "在菜单栏图标旁显示剪贴板内容", IDC_A_SHOW_RECENT, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 155, 320, 14
    CONTROL "显示搜索框", IDC_A_SHOW_SEARCH, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 171, 190, 14
    COMBOBOX IDC_A_SEARCH_VISIBILITY, 208, 170, 112, 92, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL "在搜索框前显示应用名", IDC_A_SHOW_TITLE, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 187, 190, 14
    CONTROL "显示应用程序图标", IDC_A_SHOW_ICONS, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 203, 200, 14
    CONTROL "显示十六进制颜色色块", IDC_A_SHOW_SWATCH, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 219, 220, 14
    CONTROL "显示底部菜单", IDC_A_SHOW_FOOTER, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 235, 190, 14
END

IDD_PAGE_STORAGE DIALOGEX 0, 0, 432, 276
STYLE WS_CHILD | DS_CONTROL | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 9, "Segoe UI"
BEGIN
    LTEXT "保存：", IDC_STATIC, 8, 5, 76, 14, SS_LEFT
    CONTROL "文件", IDC_S_SAVE_FILES, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 88, 4, 250, 14
    CONTROL "图像", IDC_S_SAVE_IMAGES, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 88, 20, 250, 14
    CONTROL "文本", IDC_S_SAVE_TEXT, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 88, 36, 300, 14
    LTEXT "设置何种类型的内容会被保存。", IDC_STATIC, 88, 54, 336, 14, SS_LEFT | SS_NOPREFIX
    CONTROL "", IDC_STATIC, "Static", SS_ETCHEDHORZ, 8, 73, 416, 1
    LTEXT "数量：", IDC_STATIC, 8, 85, 76, 14, SS_LEFT
    EDITTEXT IDC_S_HISTORY_SIZE, 88, 84, 54, 14, ES_NUMBER | ES_AUTOHSCROLL | WS_TABSTOP | WS_BORDER, WS_EX_CLIENTEDGE
    LTEXT "当前大小：", IDC_STATIC, 8, 107, 76, 14, SS_LEFT
    LTEXT "", IDC_S_STORAGE_SIZE, 88, 107, 300, 14, SS_LEFT | SS_NOPREFIX
    LTEXT "排序方式：", IDC_STATIC, 8, 129, 76, 14, SS_LEFT
    COMBOBOX IDC_S_SORT_BY, 88, 128, 160, 92, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDD_PAGE_IGNORE DIALOGEX 0, 0, 432, 276
STYLE WS_CHILD | DS_CONTROL | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 9, "Segoe UI"
BEGIN
    CONTROL "", IDC_IGNORE_TABS, "SysTabControl32", WS_CHILD | WS_VISIBLE | WS_TABSTOP | TCS_TABS, 8, 5, 416, 264
END

IDD_IGNORE_APPLICATIONS DIALOGEX 0, 0, 408, 212
STYLE WS_CHILD | DS_CONTROL | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 9, "Segoe UI"
BEGIN
    CONTROL "", IDC_I_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | LVS_EDITLABELS | WS_TABSTOP | WS_BORDER, 8, 8, 392, 132, WS_EX_CLIENTEDGE
    PUSHBUTTON "+", IDC_I_ADD, 8, 146, 28, 18
    PUSHBUTTON "−", IDC_I_REMOVE, 40, 146, 28, 18
    CONTROL "忽略列表之外的所有应用程序", IDC_I_WHITELIST, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 78, 148, 300, 14
    LTEXT "", IDC_I_DESCRIPTION, 8, 174, 392, 36, SS_LEFT | SS_NOPREFIX
END

IDD_IGNORE_FORMATS DIALOGEX 0, 0, 408, 212
STYLE WS_CHILD | DS_CONTROL | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 9, "Segoe UI"
BEGIN
    CONTROL "", IDC_I_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | LVS_EDITLABELS | WS_TABSTOP | WS_BORDER, 8, 8, 392, 132, WS_EX_CLIENTEDGE
    PUSHBUTTON "+", IDC_I_ADD, 8, 146, 28, 18
    PUSHBUTTON "−", IDC_I_REMOVE, 40, 146, 28, 18
    PUSHBUTTON "重置", IDC_I_RESET, 342, 146, 50, 18
    LTEXT "", IDC_I_DESCRIPTION, 8, 174, 392, 36, SS_LEFT | SS_NOPREFIX
END

IDD_IGNORE_REGEXPS DIALOGEX 0, 0, 408, 212
STYLE WS_CHILD | DS_CONTROL | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 9, "Segoe UI"
BEGIN
    CONTROL "", IDC_I_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | LVS_EDITLABELS | WS_TABSTOP | WS_BORDER, 8, 8, 392, 132, WS_EX_CLIENTEDGE
    PUSHBUTTON "+", IDC_I_ADD, 8, 146, 28, 18
    PUSHBUTTON "−", IDC_I_REMOVE, 40, 146, 28, 18
    LTEXT "", IDC_I_DESCRIPTION, 8, 174, 392, 36, SS_LEFT | SS_NOPREFIX
END

IDD_PAGE_PINS DIALOGEX 0, 0, 432, 276
STYLE WS_CHILD | DS_CONTROL | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 9, "Segoe UI"
BEGIN
    CONTROL "", IDC_P_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_TABSTOP | WS_BORDER, 8, 5, 416, 96, WS_EX_CLIENTEDGE
    LTEXT "键位", IDC_P_KEY_LABEL, 8, 111, 70, 14, SS_LEFT
    COMBOBOX IDC_P_KEY, 82, 110, 140, 92, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "标题", IDC_P_TITLE_LABEL, 8, 129, 70, 14, SS_LEFT
    EDITTEXT IDC_P_TITLE, 82, 128, 342, 14, ES_AUTOHSCROLL | WS_TABSTOP | WS_BORDER, WS_EX_CLIENTEDGE
    LTEXT "内容", IDC_P_CONTENT_LABEL, 8, 147, 70, 14, SS_LEFT
    EDITTEXT IDC_P_CONTENT, 82, 146, 342, 54, ES_MULTILINE | ES_AUTOVSCROLL | WS_VSCROLL | WS_TABSTOP | WS_BORDER, WS_EX_CLIENTEDGE
    LTEXT "", IDC_P_CONTENT_HINT, 8, 207, 416, 24, SS_LEFT | SS_NOPREFIX
    PUSHBUTTON "保存", IDC_P_SAVE, 290, 238, 60, 18
    PUSHBUTTON "删除", IDC_P_DELETE, 356, 238, 60, 18
END

IDD_PAGE_ADVANCED DIALOGEX 0, 0, 432, 276
STYLE WS_CHILD | DS_CONTROL | WS_CLIPCHILDREN | WS_CLIPSIBLINGS
EXSTYLE WS_EX_CONTROLPARENT
FONT 9, "Segoe UI"
BEGIN
    CONTROL "暂停", IDC_X_IGNORE_EVENTS, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 5, 300, 14
    LTEXT "暂停记录新的剪贴板项目。\r\n如果您想在复制敏感数据时通过程序调用来禁用本程序。", IDC_STATIC, 8, 23, 416, 28, SS_LEFT | SS_NOPREFIX
    LTEXT "defaults write org.p0deje.Maccy ignoreEvents true\r\n# 执行上述命令后再进行复制，然后执行\r\ndefaults write org.p0deje.Maccy ignoreEvents false", IDC_STATIC, 8, 55, 416, 42, SS_LEFT | SS_NOPREFIX
    LTEXT "您也可以按下 ⌥ 并单击菜单图标。\r\n要仅忽略下一个副本，请单击 ⌥⇧。", IDC_STATIC, 8, 101, 416, 28, SS_LEFT | SS_NOPREFIX
    LTEXT "defaults write org.p0deje.Maccy ignoreOnlyNextEvent true\r\n# 执行上述命令后再进行复制，只对下一次复制有效", IDC_STATIC, 8, 133, 416, 28, SS_LEFT | SS_NOPREFIX
    LTEXT "", IDC_STATIC, 8, 165, 416, 1, SS_ETCHEDHORZ
    CONTROL "退出时清除历史记录", IDC_X_CLEAR_ON_QUIT, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 177, 230, 14
    CONTROL "同时清除系统剪贴板", IDC_X_CLEAR_CLIPBOARD, "Button", BS_AUTOCHECKBOX | BS_LEFT | BS_VCENTER | BS_MULTILINE | WS_TABSTOP, 8, 201, 230, 14
END
